{% extends 'layouts/app.twig' %}

{% block content %}
    
    <div class="container jumbotron bg-info text-center ">   
        <h1>Todo App</h1>
        <p>Slim 3 Todo by ensodev</p>
        <p></p>
        <br />
        <a href='{{ path_for('home') }}'  class='btn btn-info'>Add Todos</a>
		|
		<a href='{{ path_for('logout') }}'class='btn btn-info'>Logout</a>
        {# <a href='{{ path_for('home') }}' class='btn btn-info'>Home</a> #}

        {# {% if msg == false %}
            <hr />
            <div class='alert alert-info'> User not found</div>
        {% endif %} #}

    </div>

    <div class='row'>
        <div class='col-md-1'>
        </div>
        
        <div class='col-md-10 text-left'>
            <ul class='list-group'>
            {% for todo in todos %}
                <li class='list-group-item'><h4>{{ todo.topic }}</h4> 
                    <p>
                        {% if date < todo.todo_date %}
                            <span class='badge badge-secondary'>Not Mature {{ todo.todo_date|date("m/d/Y") }} </span>
                        {% else %}
                            <span class='badge badge-info'>Matured {{ todo.todo_date|date("m/d/Y") }} </span>
                        {% endif %}
                        <span class='badge badge-info'>Created {{ todo.date_created|date("m/d/Y") }} </span>
                    </p>

                    <p>
                        <span class=''>{{ todo.messagea }} </span>
                    </p>
                    <hr />
                    <p class='float-right'>
                        {# <a href="{{ path_for('details', {id:todo.id}) }}" class='btn btn-warning '>Details</a> #}
                        <a href="{{ path_for('edit', {id:todo.id}) }}" class='btn btn-success'>Edit</a>
                        <a href="{{ path_for('share', {id:todo.id}) }}" class='btn btn-info'>Share</a>
                        <a href="{{ path_for('delete', {id:todo.id}) }}" class='btn btn-danger'>Delete</a>
                        
                    </p>
                </li>
                <p></p>
                
            {% endfor  %}
            </ul>
        </div>
           
        <div class='col-md-1'>
        </div>
    </div>
    <p class='mb-4'></p>
{% endblock %}